body{
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    flex-direction: column;
}

.calculatrice {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

#display {
      width: 270px;
      height: 50px;
      font-size: 25px;
      margin-bottom: 20px;
      text-align: right;
      padding: 10px;
      border-radius: 10px;
      background: #d2d0d0;
}

/* Bouton pour changer de couleur */

span button{
    text-align: center;     
    margin-bottom: 50px;     
    display: flex;
    justify-content: center;
}

.color {
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    transition: 0.3s;
}


.operateur {
    background-color: #343333;
    font-size: 25px;
}

#gris {
    background-color: #343333;
}

#rose {
    background-color: rgb(231, 144, 158);
}

#bleu {
    background-color: rgb(47, 183, 224);
}

#vert {
    background-color: rgb(47, 224, 127);
}

#jaune {
    background-color: rgb(240, 229, 72);
}



/* Bouton de la calculatrice */

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-items: center;
    align-items: center; 
}

button {
    background-color: #444;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

button:hover{
    filter: brightness(1.1);
    cursor: pointer;
}