body{
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
}

.calculatrice {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}


#display {
      width: 270px;
      height: 50px;
      font-size: 25px;
      margin-bottom: 20px;
      text-align: right;
      padding: 10px;
      border-radius: 10px;
      background: #d2d0d0;
}


/* Bouton */

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-items: center;
    align-items: center; 
}

button {
    background-color: #444;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

button:hover{
    background-color: #666;
    cursor: pointer;
}

.opérateur {
    background-color: rgb(231, 144, 158);
}

.opérateur:hover{
    background-color: rgb(232, 165, 176);;
}